<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,900&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }

        /* nav a {
            color: #d64161;
            font-family: "Arial";
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        } */

        .alert {
            padding: 20px;
            margin: 5px;
            color: #970020;
            background-color: #ffd5de;
        }

        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            padding: 20px;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            font-family: 'Roboto';
            background-color: #000000;
            color: white;
        }

        input[type=text],
        select,
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: black;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        .container {
            border-radius: 5px;
            background-color: #ffffff;
            padding: 20px;
        }



        h1 {
            font-size: 24px;
            color: #ed8b00;
        }

        h2 {
            font-size: 16px;
            color: black;
        }

        p {
            color: black;
        }

        a {
            color: #999;
        }

        table {
            border-collapse: collapse;
        }

        /******************************
    * SUMMARY INFORMATION
    ******************************/
        #environment td {
            padding: 5px;
            border: 1px solid #E6E6E6;
        }

        #environment tr:nth-child(odd) {
            background-color: #f6f6f6;
        }

        /******************************
    * TEST RESULT COLORS
    ******************************/
        span.passed,
        .passed .col-result {
            color: green;
        }

        span.skipped,
        span.xfailed,
        span.rerun,
        .skipped .col-result,
        .xfailed .col-result,
        .rerun .col-result {
            color: orange;
        }

        span.error,
        span.failed,
        span.xpassed,
        .error .col-result,
        .failed .col-result,
        .xpassed .col-result {
            color: red;
        }

        /******************************
    * RESULTS TABLE
    *
    * 1. Table Layout
    * 2. Extra
    * 3. Sorting items
    *
    ******************************/
        /*------------------
    * 1. Table Layout
    *------------------*/
        #results-table {
            border: 1px solid #e6e6e6;
            color: #999;
            font-size: 12px;
            width: 100%;
        }

        #results-table th,
        #results-table td {
            padding: 5px;
            border: 1px solid #E6E6E6;
            text-align: left;
        }

        #results-table th {
            font-weight: bold;
        }

        /*------------------
    * 2. Extra
    *------------------*/
        .log {
            background-color: #e6e6e6;
            border: 1px solid #e6e6e6;
            color: black;
            display: block;
            font-family: "Courier New", Courier, monospace;
            height: 230px;
            overflow-y: scroll;
            padding: 5px;
            white-space: pre-wrap;
        }

        .log:only-child {
            height: inherit;
        }

        div.image {
            border: 1px solid #e6e6e6;
            float: right;
            height: 240px;
            margin-left: 5px;
            overflow: hidden;
            width: 320px;
        }

        div.image img {
            width: 320px;
        }

        div.video {
            border: 1px solid #e6e6e6;
            float: right;
            height: 240px;
            margin-left: 5px;
            overflow: hidden;
            width: 320px;
        }

        div.video video {
            overflow: hidden;
            width: 320px;
            height: 240px;
        }

        .collapsed {
            display: none;
        }

        .expander::after {
            content: " (show details)";
            color: #BBB;
            font-style: italic;
            cursor: pointer;
        }

        .collapser::after {
            content: " (hide details)";
            color: #BBB;
            font-style: italic;
            cursor: pointer;
        }

        /*------------------
    * 3. Sorting items
    *------------------*/
        .sortable {
            cursor: pointer;
        }

        .sort-icon {
            font-size: 0px;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            /*triangle*/
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }

        .inactive .sort-icon {
            /*finish triangle*/
            border-top: 8px solid #E6E6E6;
        }

        .asc.active .sort-icon {
            /*finish triangle*/
            border-bottom: 8px solid #999;
        }

        .desc.active .sort-icon {
            /*finish triangle*/
            border-top: 8px solid #999;
        }



        .button {
            font: bold 11px Arial;
            text-decoration: none;
            color: white;
            background-color: #00bd9d;
            padding: 10px 18px;
            border: 12px 20px;
            border-radius: 4px;
        }

        .logo {
            vertical-align: middle;
            border-style: none;
            height: 25px;
            padding-right: 25px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="{{url_for('static', filename='AL-white-logo-txt.png')}}" class="logo"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('create') }}">Create</a>
            </li>
          </ul>
        </div>
      </nav>
      



    <div class="content">
        {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
        {% endfor %}
        <div class="container">
            {% block content %} {% endblock %}
        </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>