{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Add a New Trainee {% endblock %}</h1>
    <div class="container">
        <form method="post">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" placeholder="Your first name" value="{{ request.form['first_name'] }}">
        
            <label for="lname">Last Name</label>
            <input type="text" name="last_name" placeholder="Your last name" value="{{ request.form['last_name'] }}">
        
            <label for="cohort">Cohort</label>
            <select name="cohort" value="{{ request.form['cohort'] }}">
            {% for cohort in cohorts %}
            <option value={{cohort}}>{{cohort}}</option>
            {% endfor %}
            </select>
        
            <label for="bitbucket">Bitbucket URL</label>
            <input type="text" id="biturl" name="bitbucket" placeholder="Your bitbucket url" value="{{ request.form['bitbucket'] }}">
        
            <input type="submit" name="action" value="Submit">
        </form>
      </div>
      <div class="container">
        <form method="post">
            <label for="new_cohort">New Cohort</label>
            <input type="text" name="new_cohort" placeholder="cohort number" value="{{ request.form['new_cohort'] }}">
            <input type="submit" name="action" value="Add">
      </div>
{% endblock %}