{% extends 'base.html' %}
{% block content %}
<a  href="{{ url_for('reports', trainee_id=trainee_id) }}" class="button">Back</a>
<p></p>
{% include "html_reports/"+trainee_id+"-"+exercise_name+".html" %}

<a  href="{{bitbucket_link}}" target="_blank" class="button">Link to code</a>
<h1></h1>
{% endblock %}