{% extends 'base.html' %}
{% block content %}
<h1> Report list for {{trainee ["first_name"]}}</h1>
<body>
    <table style="width:50%" id="customers">
        <tr>
         <th>Exercises</th>
         <th>Link</th>   
         <th>Tests</th> 
        </tr>{% for exercise in exercises %}
            <tr>
                <td>{{exercise}}</td>
                <td><a href="{{ url_for('exercise_report', trainee_id=trainee['id'], exercise_name=exercise) }}">details</td>
                <td>{{test_summary[exercise]}}</td>
            </tr>
            {% endfor %}
    </table>
{% endblock %}