{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Trainees {% endblock %}</h1>
    <table style="width:100%" id="customers">
        <tr>
            <th>Name</th><th>Cohort</th><th>Bitbucket Link</th><th>Progress</th><th>Reports</th><th>Edit</th>
        </tr>
    {% for trainee in trainees %}
        <tr>
            <td>{{ trainee ['first_name'] }} {{ trainee ['last_name'] }}</td><td>{{ trainee ['cohort'] }}</td>
            
            {% if trainee['bitbucket_url']|length %}
            <td><a href="{{ trainee ['bitbucket_url'] }}" target="_blank">Bitbucket link</a></td>
            {% else %}
            <td>Not Set</td>
            {% endif %}

            {% if exercises[trainee ['id']]|length  %}
            <td>    
                {{ progress[trainee ['id']] }}/{{ exercises[trainee ['id']]|length }}
                <progress id="file" max="{{ exercises[trainee ['id']]|length }}" value="{{ progress[trainee ['id']] }}"> 70% </progress>
            </td>
            {% else %}
            <td>No Submissions</td>
            {% endif %}

            <td><a href="{{ url_for('reports', trainee_id=trainee['id']) }}">report</a></td>
            <td><a href="{{ url_for('update', trainee_id=trainee['id']) }}">edit</a></td>
        </tr>
    {% endfor %}
    </table>

    

{% endblock %}
