{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Update a Trainee {% endblock %}</h1>
    <div class="container">
        <form method="post">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" placeholder="first name" value="{{ trainee ['first_name'] }}">
        
            <label for="lname">Last Name</label>
            <input type="text" name="last_name" placeholder="Your last name" value="{{ trainee ['last_name'] }}">
        
            <label for="cohort">Cohort</label>
            <select name="cohort" value="{{ trainee ['cohort'] }}">
            {% for cohort in cohorts %}
            <option value={{cohort}}>{{cohort}}</option>
            {% endfor %}
            </select>
        
            <label for="bitbucket">Bitbucket URL</label>
            <input type="text" id="biturl" name="bitbucket" placeholder="Your bitbucket url" value="{{ trainee ['bitbucket_url'] }}">
        
            <input type="submit" value="Submit">
        </form>
      </div>
{% endblock %}